name: Build packages for Linux

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build-linux:
        runs-on: ubuntu-latest

        steps:
            - name: checkout
              uses: actions/checkout@v5
            - name: update package index
              run: sudo apt update
            #- name: update or install required packages
            #  run: sudo apt-get install -y gcc libncurses5-dev libncursesw5-dev git make libarchive-tools curl
            - name: get docker
              run: |
                curl -fsSL https://get.docker.com -o get-docker.sh
                sudo sh get-docker.sh
            - name: set up docker
              run: |
                sudo docker pull archlinux:base-devel
                sudo docker container create --name arch archlinux